/smartsharkeval/input/
/test/res/exampleclass/DummyProject/.idea/
/test/res/exampleclass/DummyProject/target/
/codebertnt/logs/
/codebertnt/pre-trained/
/codebertnt/p_log.out
/test/res/output/
/env/
/.idea/